<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Red Hat Linux Sensei Quiz</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1><span>RED HAT LINUX SENSEI</span></h1>
  </div>
  <div id="nav">
      {% if request.user.is_authenticated %}
    <ul>
      <li class="first"><a href="http://localhost:8000/"><em>A</em>BOUT</a></li>
      <li><a href="http://localhost:8000/quiz_selection/"><em>S</em>ENSEI <em>Q</em>UIZ <em>S</em>ELECTION</a></li>
      <li><a href="http://localhost:8000/quiz/"><em>S</em>ENSEI <em>Q</em>UIZ</a></li>
      <li><a href="http://localhost:8000/account/logout/"><em>L</em>OGOUT</a></li>
       {% else %}
      <li class="first"><a href="http://localhost:8000/"><em>A</em>BOUT</a></li>
      <li><a href="http://localhost:8000/account/register/"><em>R</em>EGISTER</a></li>
      <li><a href="http://localhost:8000/account/login/"><em>L</em>OGIN</a></li>
       {% endif %}
     </ul>


  </div>
  <div id="body">
    <div id="content">
      <div class="i">
          {% if request.user.is_authenticated %}
        <h2><strong>Welcome {% if request.user.first_name %}</strong> To Red Hat Linux Sensei</h2>
                {{ request.user.first.name }}
                {% else %}
                {{ request.user.username }}
                {% endif %}
          {% else %}
          <h2><strong>Welcome </strong> To Red Hat Linux Sensei</h2>
          {% endif %}


<br>
<br>
<br>
<br>
<center>
<h2>{{ question.question_text }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'redhat_sensei_quiz:results' question.id %}" method="post">
{% csrf_token %}
  <table>{{ form.as_table }}</table>
   <p><label for="id_name"> Type Your Answer:</label>
<input class="textinput textInput form-control" id="id_name" maxlength="100" name="textfield" type="text" /></p>
  <input type="submit" value="Submit" />
</form>
</center>
        </div>
      </div>
    </div>
    <div id="copyright"> &copy; Copyright 2016 | Web Design & Software Application Development By <a target=_blank href="http://www.gilrael.com">Gil Rael</a></div>
  </div>
  <div id="footer"> </div>
</div>
</body>
</html>

